@ -1,39 +0,0 @@
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Misc. ###
*.xml
*.iml
.DS_Store
*.gitignore
!.gitignore
/.idea
.gitattributes
*.pyc
output.log
/frontend/dist
/frontend/node_modules
/frontend/venv-mac
frontend/cpython-3.14.0+20251014-aarch64-apple-darwin-install_only.tar.gz
frontend/cpython-3.14.0+20251014-x86_64-pc-windows-msvc-install_only.tar.gz
frontend/cpython-3.14.0+20251014-x86_64-apple-darwin-install_only.tar.gz
/frontend/venv-mac64
/frontend/venv-win
